* {
    font-family: roboto;
}

.cards{
    padding: 20px;
    padding-top: 17vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    .card{
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.1);
        margin: 1vw;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 3vw;
        .img{
            
            width: 50vw;
            height: 25vw;
        }
        .card-text-div{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .card-text{
                color: rgba($color: #000000, $alpha: 0.8);
                font-family: Righteous;
                
            }
        }
    }
}
hr{margin:0}